// Variables
$vino:#6B3442;
$negrosmoke: #1f1f1f;
$blancosmoke:#f8f9fa;
$doradosmoke: #9E9E5E;



/* Página Bodegas */

.mapasBodegas{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}

.mapasBodegas_salta{
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  .mapasBodegas_mendoza{
    display: flex;
    flex-direction: column;
    align-items: right;
  }
  
  img {
    max-width: 100%; }

.carousel{
  width: 70%;
  height: 25%;
  display: flex;
  justify-content: center;
}

.contenedorCar{
  display: flex;
  justify-content: center;
}

